.float-item-left {
    float: left;
}

.float-item-right {
    float: right;
}

.float-group-left, .float-group-right {
    width: 100%;
    @include clearfix;
}

.float-group-left > * {
    float: left;
}

.float-group-right > * {
    float: right;
}